Repository noti-rs/noti, changes with the labels that .github/labeler.yml gives for each.
All labels: App, Backend, Render, Config, Macros, DBus, Client, Filetype, Shared, Documentation

chore: add logo icons (#67)
  assets/logo512.png
  assets/logo512.svg
Labels: none

test: update tests for ConfigProperty macro and rename test files
  crates/macros/tests/config_property.rs
  crates/macros/tests/generic_builder.rs
Labels: Macros

docs: update documentation for refactored ConfigProperty macro
  crates/macros/README.md
Labels: Macros

fix: do not attach old attributes to new struct
  crates/macros/src/config_property.rs
Labels: Macros

refacto: update config code according to updated ConfigProprety macro
  crates/config/src/display.rs
  crates/config/src/general.rs
  crates/config/src/text.rs
  crates/config/src/theme.rs
Labels: Config

refactor: apply cargo fmt and clippy suggestions
  crates/config/src/display.rs
  crates/macros/src/config_property.rs
Labels: Config, Macros

refactor: rewrite ConfigProperty macro and clean config crate code (#68)
  crates/config/src/display.rs
  crates/config/src/general.rs
  crates/config/src/text.rs
  crates/config/src/theme.rs
  crates/macros/README.md
  crates/macros/src/config_property.rs
  crates/macros/src/general.rs
  crates/macros/src/generic_builder.rs
  crates/macros/src/lib.rs
  crates/macros/tests/config_property.rs
  crates/macros/tests/generic_builder.rs
Labels: Config, Macros

refactor: simplify TryFrom<Value> usage by TryFromValue trait
  crates/config/src/color.rs
  crates/config/src/display.rs
  crates/config/src/spacing.rs
  crates/config/src/text.rs
  crates/macros/src/generic_builder.rs
  crates/macros/tests/generic_builder.rs
  crates/render/src/widget.rs
  crates/shared/src/value.rs
Labels: Render, Config, Macros, Shared

refactor: simplify TryFrom<Value> usage by TryFromValue trait (#69)
  crates/config/src/color.rs
  crates/config/src/display.rs
  crates/config/src/spacing.rs
  crates/config/src/text.rs
  crates/macros/src/generic_builder.rs
  crates/macros/tests/generic_builder.rs
  crates/render/src/widget.rs
  crates/shared/src/value.rs
Labels: Render, Config, Macros, Shared

feat: introduce `IdleManager` & `IdleNotifier`
  crates/backend/Cargo.toml
  crates/backend/src/idle_manager.rs
  crates/backend/src/idle_notifier.rs
  crates/backend/src/lib.rs
  crates/backend/src/render.rs
  crates/config/src/general.rs
Labels: Backend, Config

refactor: encapsulate `event_queue` dispatching
  crates/backend/src/dispatcher.rs
  crates/backend/src/idle_manager.rs
  crates/backend/src/lib.rs
  crates/backend/src/render.rs
  crates/backend/src/window_manager.rs
Labels: Backend

fix: add missing `merge` method call for mergeable temporary fields
  crates/macros/src/config_property.rs
Labels: Macros

feat: add possibility to use relative path and globs
  Cargo.lock
  crates/config/Cargo.toml
  crates/config/src/display.rs
  crates/config/src/lib.rs
Labels: Config

refactor: use `error!` instead of `warn!`s in some places
  crates/config/src/lib.rs
Labels: Config

refactor: rename `update_timeout` to `reset_timeout`
  crates/backend/src/banner.rs
  crates/backend/src/window.rs
Labels: Backend

docs: update information about relative paths and globbing
  docs/ConfigProperties.md
Labels: Documentation

wip
  crates/backend/src/idle_manager.rs
  crates/backend/src/idle_notifier.rs
  crates/backend/src/render.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
Labels: Backend

feat: introduce relative paths and globbing (#70)
  Cargo.lock
  crates/config/Cargo.toml
  crates/config/src/display.rs
  crates/config/src/lib.rs
  docs/ConfigProperties.md
Labels: Config, Documentation

fix: add merge_temporary_fields for correct merging app displays
  crates/config/src/lib.rs
  crates/macros/src/config_property.rs
Labels: Config, Macros

feat: enable idle and encapsulate some code
  crates/backend/src/idle_manager.rs
  crates/backend/src/render.rs
  crates/backend/src/window.rs
Labels: Backend

refactor: apply cargo clippy suggestions
  crates/backend/src/idle_manager.rs
Labels: Backend

fix: ensure that uses temporary fields in app display configs (#71)
  crates/config/src/lib.rs
  crates/macros/src/config_property.rs
Labels: Config, Macros

refactor: parse `IdleThreshold` as human readable string; add idle notifier logs
  Cargo.lock
  crates/backend/src/idle_notifier.rs
  crates/config/Cargo.toml
  crates/config/src/general.rs
Labels: Backend, Config

chore(docs): document the `idle_threshold` property
  docs/ConfigProperties.md
Labels: Documentation

refactor: change `idle_threshold` disable value to `"none"`
  Cargo.lock
  crates/backend/src/idle_notifier.rs
  crates/config/src/general.rs
  docs/ConfigProperties.md
Labels: Backend, Config, Documentation

feat: idle handling (#72)
  Cargo.lock
  crates/backend/Cargo.toml
  crates/backend/src/banner.rs
  crates/backend/src/dispatcher.rs
  crates/backend/src/idle_manager.rs
  crates/backend/src/idle_notifier.rs
  crates/backend/src/lib.rs
  crates/backend/src/render.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/config/Cargo.toml
  crates/config/src/general.rs
  docs/ConfigProperties.md
Labels: Backend, Config, Documentation

refactor: split widgets into modules
  crates/render/src/widget.rs
  crates/render/src/widget/flex_container.rs
  crates/render/src/widget/image.rs
  crates/render/src/widget/text.rs
Labels: Render

feat: introduce gradients for background and borders
  crates/backend/src/banner.rs
  crates/config/src/color.rs
  crates/config/src/theme.rs
  crates/render/src/border.rs
  crates/render/src/color.rs
  crates/render/src/drawer.rs
  crates/render/src/image.rs
  crates/render/src/text.rs
  crates/render/src/types.rs
  crates/render/src/widget.rs
  crates/render/src/widget/flex_container.rs
  crates/render/src/widget/image.rs
Labels: Backend, Render, Config

refactor: add unoptimized but correct method for overlaying drawers
  crates/render/src/color.rs
  crates/render/src/drawer.rs
  crates/render/src/widget/flex_container.rs
Labels: Render

chore: move docs to `book` (noti-rs/notibook)
  docs/Autostart.md
  docs/ConfigProperties.md
  docs/Filetype.md
Labels: Documentation

hotfix: correct check for parsing alpha channel
  crates/config/src/color.rs
Labels: Config

chore: update README.md with references to book
  README.md
Labels: none

chore: move docs to book `(noti-rs/notibook)` (#73)
  README.md
  docs/Autostart.md
  docs/ConfigProperties.md
  docs/Filetype.md
Labels: Documentation

fix: add repeating of linear gradient
  crates/render/src/color.rs
Labels: Render

refactor: use 'transparent_background' instead of specific color
  crates/backend/src/banner.rs
  crates/render/src/widget/flex_container.rs
Labels: Backend, Render

refactor: update linear-gradient definition in config
  crates/config/src/color.rs
  crates/render/src/color.rs
Labels: Render, Config

refactor(color): rename Color::Single to Color::Fill
  crates/backend/src/banner.rs
  crates/render/src/border.rs
  crates/render/src/color.rs
  crates/render/src/drawer.rs
  crates/render/src/widget/flex_container.rs
Labels: Backend, Render

feat: add linear-gradient to extend color definition (#82)
  crates/backend/src/banner.rs
  crates/config/src/color.rs
  crates/config/src/theme.rs
  crates/render/src/border.rs
  crates/render/src/color.rs
  crates/render/src/drawer.rs
  crates/render/src/image.rs
  crates/render/src/text.rs
  crates/render/src/types.rs
  crates/render/src/widget.rs
  crates/render/src/widget/flex_container.rs
  crates/render/src/widget/image.rs
  crates/render/src/widget/text.rs
Labels: Backend, Render, Config

refactor(backend): rename things for correct represents
  crates/backend/src/backend_manager.rs
  crates/backend/src/internal_messages.rs
  crates/backend/src/lib.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
Labels: Backend

fix: make idle_threshold watchable and not block loop when idled
  crates/backend/src/backend_manager.rs
  crates/backend/src/idle_manager.rs
  crates/backend/src/idle_notifier.rs
Labels: Backend

.github/labeler.yml:

App:
  - changed-files:
    - any-glob-to-any-file: 'crates/app/**'

Backend:
  - changed-files:
    - any-glob-to-any-file: 'crates/backend/**'

Render:
  - changed-files:
    - any-glob-to-any-file: 'crates/render/**'

Config:
  - changed-files:
    - any-glob-to-any-file: 'crates/config/**'

Macros:
  - changed-files:
    - any-glob-to-any-file: 'crates/macros/**'

DBus:
  - changed-files:
    - any-glob-to-any-file: 'crates/dbus/**'

Client:
  - changed-files:
    - any-glob-to-any-file: 'crates/client/**'

Filetype:
  - changed-files:
    - any-glob-to-any-file: 'crates/filetype/**'

Shared:
  - changed-files:
    - any-glob-to-any-file: 'crates/shared/**'

Documentation:
  - changed-files:
    - any-glob-to-any-file: 'docs/**'
