Repository noti-rs/noti, changes with the labels that .github/labeler.yml gives for each.
All labels: App, Backend, Render, Config, Macros, DBus, Client, Filetype, Shared, Documentation

refactor: make easy banner management and dual-buffering (#102)
  crates/backend/build.rs
  crates/backend/src/managers/window_manager.rs
  crates/backend/src/managers/window_manager/banner.rs
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/buffer.rs
  crates/backend/src/managers/window_manager/window.rs
Labels: Backend

refactor: replace debug prints via {:?} to normal prints
  crates/backend/src/managers/window_manager/cache.rs
  crates/client/src/lib.rs
  crates/config/src/lib.rs
  crates/dbus/src/text.rs
  crates/render/src/image.rs
  crates/shared/src/file_watcher.rs
Labels: Backend, Render, Config, DBus, Client, Shared

refactor: replace debug prints via {:?} to normal prints (#103)
  crates/backend/src/managers/window_manager/cache.rs
  crates/client/src/lib.rs
  crates/config/src/lib.rs
  crates/dbus/src/text.rs
  crates/render/src/image.rs
  crates/shared/src/file_watcher.rs
Labels: Backend, Render, Config, DBus, Client, Shared

refactor: migrate to EGL + skia rendering
  Cargo.lock
  crates/backend/Cargo.toml
  crates/backend/src/lib.rs
  crates/backend/src/managers/window_manager.rs
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/buffer.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/config/src/display.rs
  crates/config/src/general.rs
  crates/config/src/text.rs
  crates/render/Cargo.toml
  crates/render/src/color.rs
  crates/render/src/drawer.rs
  crates/render/src/image.rs
  crates/render/src/lib.rs
  crates/render/src/types.rs
  crates/render/src/widget.rs
  crates/render/src/widget/flex_container.rs
  crates/render/src/widget/image.rs
  crates/render/src/widget/text.rs
  crates/shared/src/data.rs
  crates/shared/src/lib.rs
Labels: Backend, Render, Config, Shared

refactor: redesign the render crate into widgets crate
  Cargo.lock
  Cargo.toml
  crates/backend/Cargo.toml
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/cache.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/filetype/Cargo.toml
  crates/filetype/src/converter.rs
  crates/filetype/src/lib.rs
  crates/render/README.md
  crates/render/src/lib.rs
  crates/widgets/Cargo.toml
  crates/widgets/README.md
  crates/widgets/src/color.rs
  crates/widgets/src/drawer.rs
  crates/widgets/src/image.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/types.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
Labels: Backend, Render, Filetype

docs: document main crates
  crates/backend/src/dispatcher.rs
  crates/backend/src/error.rs
  crates/backend/src/lib.rs
  crates/backend/src/managers/idle_manager.rs
  crates/backend/src/managers/idle_manager/idle_notifier.rs
  crates/backend/src/managers/window_manager.rs
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/cache.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/backend/src/scheduler.rs
  crates/client/src/lib.rs
  crates/dbus/src/actions.rs
  crates/dbus/src/client.rs
  crates/dbus/src/image.rs
  crates/dbus/src/notification.rs
  crates/dbus/src/server.rs
  crates/dbus/src/text.rs
  crates/shared/src/cached_data.rs
  crates/shared/src/error.rs
  crates/shared/src/file_descriptor.rs
  crates/shared/src/file_watcher.rs
  crates/shared/src/value.rs
  crates/widgets/src/color.rs
  crates/widgets/src/drawer.rs
  crates/widgets/src/image.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/text.rs
Labels: Backend, DBus, Client, Shared

refactor: redraw eagerly when window is visible
  crates/backend/src/lib.rs
  crates/backend/src/managers/window_manager.rs
  crates/backend/src/managers/window_manager/window.rs
Labels: Backend

feat: add animations for notification banners
  Cargo.lock
  crates/backend/src/lib.rs
  crates/backend/src/managers/window_manager.rs
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/config/Cargo.toml
  crates/config/src/display.rs
  crates/widgets/src/animation.rs
  crates/widgets/src/animation/fade.rs
  crates/widgets/src/animation/pop.rs
  crates/widgets/src/animation/translate.rs
  crates/widgets/src/drawer.rs
  crates/widgets/src/lib.rs
Labels: Backend, Config

build: add nix flake for development on NixOS
  flake.lock
  flake.nix
Labels: none

feat: use input regions properly
  crates/backend/src/managers/window_manager.rs
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/window.rs
Labels: Backend

feat: make smooth allocation and free spaces for notification banners
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/config/src/display.rs
  crates/widgets/src/animation.rs
  crates/widgets/src/animation/fade.rs
  crates/widgets/src/animation/pop.rs
  crates/widgets/src/animation/translate.rs
Labels: Backend, Config

feat: implemented the base of event dispatching
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/config/src/display.rs
  crates/config/src/spacing.rs
  crates/widgets/src/events.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/types.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/text.rs
Labels: Backend, Config

feat&refactor: implement Container widget
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/config/src/display.rs
  crates/config/src/spacing.rs
  crates/filetype/src/converter.rs
  crates/filetype/src/parser.rs
  crates/shared/src/value.rs
  crates/widgets/src/animation.rs
  crates/widgets/src/animation/fade.rs
  crates/widgets/src/animation/pop.rs
  crates/widgets/src/animation/translate.rs
  crates/widgets/src/drawer.rs
  crates/widgets/src/image.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/types.rs
  crates/widgets/src/types/alignment.rs
  crates/widgets/src/types/direction.rs
  crates/widgets/src/types/extent.rs
  crates/widgets/src/types/mod.rs
  crates/widgets/src/types/offset.rs
  crates/widgets/src/widget/container.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
Labels: Backend, Config, Filetype, Shared

github: add missing package for workflows
  .github/workflows/rust-build.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/rust-test.yml
Labels: none

format&clean: format code by rustfmt and clean with clippy
  crates/backend/src/dispatcher.rs
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/config/src/text.rs
  crates/filetype/src/parser.rs
  crates/shared/src/cached_data.rs
  crates/widgets/src/animation/fade.rs
  crates/widgets/src/animation/translate.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/types/extent.rs
  crates/widgets/src/types/mod.rs
  crates/widgets/src/types/offset.rs
Labels: Backend, Config, Filetype, Shared

feat: implement dynamic constraints for widget compilation
  Cargo.lock
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/widgets/Cargo.toml
  crates/widgets/src/lib.rs
  crates/widgets/src/types/constraints.rs
  crates/widgets/src/types/extent.rs
  crates/widgets/src/types/mod.rs
  crates/widgets/src/types/offset.rs
  crates/widgets/src/widget/container.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/text.rs
  crates/widgets/src/widget/unknown.rs
Labels: Backend

refactor: redesign widgets with new init, measure and layout logic
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/cache.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/config/src/display.rs
  crates/filetype/src/converter.rs
  crates/filetype/src/lib.rs
  crates/widgets/src/animation.rs
  crates/widgets/src/animation/fade.rs
  crates/widgets/src/animation/pop.rs
  crates/widgets/src/animation/translate.rs
  crates/widgets/src/context.rs
  crates/widgets/src/drawer.rs
  crates/widgets/src/events.rs
  crates/widgets/src/image.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/types/alignment.rs
  crates/widgets/src/types/constraints.rs
  crates/widgets/src/types/data.rs
  crates/widgets/src/types/extent.rs
  crates/widgets/src/types/identifiers.rs
  crates/widgets/src/types/measure.rs
  crates/widgets/src/types/mod.rs
  crates/widgets/src/types/widget_id.rs
  crates/widgets/src/widget/container.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
  crates/widgets/src/widget/unknown.rs
Labels: Backend, Config, Filetype

feat: Impelement State<T>/MutableState<T>, flags and invalidation
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/config/src/display.rs
  crates/widgets/Cargo.toml
  crates/widgets/src/animation/fade.rs
  crates/widgets/src/animation/pop.rs
  crates/widgets/src/animation/translate.rs
  crates/widgets/src/context.rs
  crates/widgets/src/drawer.rs
  crates/widgets/src/events.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/presence.rs
  crates/widgets/src/presence/fade.rs
  crates/widgets/src/presence/pop.rs
  crates/widgets/src/presence/translate.rs
  crates/widgets/src/state.rs
  crates/widgets/src/types/data.rs
  crates/widgets/src/types/dirty_flags.rs
  crates/widgets/src/types/identifiers.rs
  crates/widgets/src/types/measure.rs
  crates/widgets/src/types/mod.rs
  crates/widgets/src/widget/container.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
  crates/widgets/src/widget/unknown.rs
Labels: Backend, Config

feat: implement AnimatedVisibility widget
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/config/src/display.rs
  crates/widgets/src/animations.rs
  crates/widgets/src/animations/fade.rs
  crates/widgets/src/animations/pop.rs
  crates/widgets/src/animations/translate.rs
  crates/widgets/src/context.rs
  crates/widgets/src/drawer.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/presence.rs
  crates/widgets/src/presence/fade.rs
  crates/widgets/src/presence/pop.rs
  crates/widgets/src/presence/translate.rs
  crates/widgets/src/state.rs
  crates/widgets/src/types/dirty_flags.rs
  crates/widgets/src/types/extent.rs
  crates/widgets/src/types/measure.rs
  crates/widgets/src/types/mod.rs
  crates/widgets/src/types/shader_builder.rs
  crates/widgets/src/types/spacing.rs
  crates/widgets/src/widget/animated_visibility.rs
  crates/widgets/src/widget/container.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
Labels: Backend, Config

refactor(backend): fix widget usage in banner
  Cargo.lock
  crates/backend/Cargo.toml
  crates/backend/src/managers/window_manager.rs
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/config/src/display.rs
  crates/widgets/Cargo.toml
  crates/widgets/src/animations/translate.rs
  crates/widgets/src/context.rs
  crates/widgets/src/events.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/types/data.rs
  crates/widgets/src/types/mod.rs
  crates/widgets/src/types/point.rs
  crates/widgets/src/widget/animated_visibility.rs
  crates/widgets/src/widget/container.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
Labels: Backend, Config

feat: add Style Registry to update styles during runtime
  Cargo.lock
  Cargo.toml
  crates/backend/Cargo.toml
  crates/backend/src/lib.rs
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/config/src/display.rs
  crates/filetype/src/converter.rs
  crates/widgets/Cargo.toml
  crates/widgets/src/animations.rs
  crates/widgets/src/animations/fade.rs
  crates/widgets/src/animations/pop.rs
  crates/widgets/src/animations/translate.rs
  crates/widgets/src/context.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/types/alignment.rs
  crates/widgets/src/types/border.rs
  crates/widgets/src/types/data.rs
  crates/widgets/src/types/dirty_flags.rs
  crates/widgets/src/types/mod.rs
  crates/widgets/src/types/shader_builder.rs
  crates/widgets/src/types/spacing.rs
  crates/widgets/src/types/style.rs
  crates/widgets/src/widget/animated_visibility.rs
  crates/widgets/src/widget/container.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
Labels: Backend, Config, Filetype

refactor: rustfmt + clippy
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/cache.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/config/src/display.rs
  crates/widgets/src/types/style.rs
  crates/widgets/src/widget/animated_visibility.rs
Labels: Backend, Config

fix(backend): eagerly draw first frame on configure to avoid 1-3s delay
  crates/backend/src/lib.rs
  crates/backend/src/managers/window_manager/window.rs
Labels: Backend

fix: typo in ConfigurationState enum variant
  crates/backend/src/managers/window_manager/window.rs
Labels: Backend

chore: update versions of packages
  Cargo.lock
  crates/backend/Cargo.toml
  flake.lock
Labels: Backend

nix: make build using flake and configurations for home manager
  Cargo.lock
  Cargo.toml
  crates/backend/Cargo.toml
  crates/widgets/Cargo.toml
  flake.lock
  flake.nix
Labels: Backend

github: use Nix for workflows instead of impure ways
  .github/workflows/checks.yml
  .github/workflows/rust-build.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/rust-test.yml
  .github/workflows/rustfmt-check.yml
  crates/widgets/src/widget/animated_visibility.rs
  flake.nix
Labels: none

Fix undesired text wrapping by increase of max intrinsic width
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/text.rs
Labels: none

feat: add 'show_layout_bounds' debug option
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/config/src/general.rs
  crates/widgets/src/context.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/widget/container.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
Labels: Backend, Config

test: fix after code change
  crates/macros/tests/generic_builder.rs
Labels: Macros

WIP: widget macro
  crates/macros/src/general.rs
  crates/macros/src/lib.rs
  crates/macros/src/widget_component.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/types/style.rs
  crates/widgets/src/widget/animated_visibility.rs
  crates/widgets/src/widget/container.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
Labels: Macros

feat: add widget, widget_style macro to reduce boilerplate code
  crates/macros/src/general.rs
  crates/macros/src/lib.rs
  crates/macros/src/widget_component.rs
  crates/widgets/src/events.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/types/style.rs
  crates/widgets/src/widget/animated_visibility.rs
  crates/widgets/src/widget/container.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
Labels: Macros

refactor: redesign Measure<T> trait to reduce logic complexness
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/macros/src/widget_component.rs
  crates/widgets/src/context.rs
  crates/widgets/src/decorator/background.rs
  crates/widgets/src/decorator/border.rs
  crates/widgets/src/decorator/box_size.rs
  crates/widgets/src/decorator/content.rs
  crates/widgets/src/decorator/mod.rs
  crates/widgets/src/decorator/spacing.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/measure.rs
  crates/widgets/src/types/direction.rs
  crates/widgets/src/types/extent.rs
  crates/widgets/src/types/measure.rs
  crates/widgets/src/types/mod.rs
  crates/widgets/src/types/style.rs
  crates/widgets/src/widget/animated_visibility.rs
  crates/widgets/src/widget/container.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
Labels: Backend, Macros

refactor: redesign Draw<T> trait to reduce logic complexness
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/widgets/src/decorator/background.rs
  crates/widgets/src/decorator/border.rs
  crates/widgets/src/decorator/box_size.rs
  crates/widgets/src/decorator/content.rs
  crates/widgets/src/decorator/mod.rs
  crates/widgets/src/decorator/spacing.rs
  crates/widgets/src/draw.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/types/extent.rs
  crates/widgets/src/widget/animated_visibility.rs
  crates/widgets/src/widget/container.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
Labels: Backend

Redesign Init<T>, Invalidate<T>, add EventHitTest<T>
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/widgets/src/context.rs
  crates/widgets/src/decorator/background.rs
  crates/widgets/src/decorator/border.rs
  crates/widgets/src/decorator/box_size.rs
  crates/widgets/src/decorator/callback.rs
  crates/widgets/src/decorator/content.rs
  crates/widgets/src/decorator/mod.rs
  crates/widgets/src/decorator/spacing.rs
  crates/widgets/src/events.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/stage/draw.rs
  crates/widgets/src/stage/init.rs
  crates/widgets/src/stage/invalidate.rs
  crates/widgets/src/stage/layout.rs
  crates/widgets/src/stage/measure.rs
  crates/widgets/src/stage/mod.rs
  crates/widgets/src/types/point.rs
  crates/widgets/src/widget/animated_visibility.rs
  crates/widgets/src/widget/container.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
Labels: Backend

feat: implement proper event dispatching
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/widgets/src/decorator/callback.rs
  crates/widgets/src/decorator/mod.rs
  crates/widgets/src/events.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/widget/animated_visibility.rs
  crates/widgets/src/widget/container.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
Labels: Backend

More descriptive compile errors
  crates/render/src/widget.rs
  crates/render/src/widget/image.rs
  crates/render/src/widget/text.rs
Labels: Render

Implement Deinit, Forest, Tree rebuild and migrate to Box<dyn Widget<Context>>
  Cargo.lock
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/cache.rs
  crates/filetype/src/converter.rs
  crates/filetype/src/lib.rs
  crates/macros/src/widget_component.rs
  crates/shared/src/lib.rs
  crates/shared/src/unique.rs
  crates/widgets/Cargo.toml
  crates/widgets/src/animations.rs
  crates/widgets/src/context.rs
  crates/widgets/src/events.rs
  crates/widgets/src/forest.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/stage/deinit.rs
  crates/widgets/src/stage/draw.rs
  crates/widgets/src/stage/init.rs
  crates/widgets/src/stage/invalidate.rs
  crates/widgets/src/stage/layout.rs
  crates/widgets/src/stage/measure.rs
  crates/widgets/src/stage/mod.rs
  crates/widgets/src/stage/rebuild.rs
  crates/widgets/src/state.rs
  crates/widgets/src/types/alignment.rs
  crates/widgets/src/types/border.rs
  crates/widgets/src/types/color.rs
  crates/widgets/src/types/direction.rs
  crates/widgets/src/types/dirty_flags.rs
  crates/widgets/src/types/spacing.rs
  crates/widgets/src/types/style.rs
  crates/widgets/src/widget/animated_visibility.rs
  crates/widgets/src/widget/container.rs
  crates/widgets/src/widget/flex_container.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
Labels: Backend, Macros, Filetype, Shared

refactor: update container types to Box and FlexBox
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/macros/src/widget_component.rs
  crates/widgets/src/types/direction.rs
  crates/widgets/src/types/style.rs
  crates/widgets/src/widget/box.rs
  crates/widgets/src/widget/flexbox.rs
  crates/widgets/src/widget/mod.rs
Labels: Backend, Macros

feat: implement the `Button` widget
  crates/widgets/src/forest.rs
  crates/widgets/src/widget/button.rs
  crates/widgets/src/widget/mod.rs
Labels: none

.github/labeler.yml:

App:
  - changed-files:
    - any-glob-to-any-file: 'crates/app/**'

Backend:
  - changed-files:
    - any-glob-to-any-file: 'crates/backend/**'

Render:
  - changed-files:
    - any-glob-to-any-file: 'crates/render/**'

Config:
  - changed-files:
    - any-glob-to-any-file: 'crates/config/**'

Macros:
  - changed-files:
    - any-glob-to-any-file: 'crates/macros/**'

DBus:
  - changed-files:
    - any-glob-to-any-file: 'crates/dbus/**'

Client:
  - changed-files:
    - any-glob-to-any-file: 'crates/client/**'

Filetype:
  - changed-files:
    - any-glob-to-any-file: 'crates/filetype/**'

Shared:
  - changed-files:
    - any-glob-to-any-file: 'crates/shared/**'

Documentation:
  - changed-files:
    - any-glob-to-any-file: 'docs/**'
