Repository noti-rs/noti, changes with the labels that .github/labeler.yml gives for each.
All labels: App, Backend, Render, Config, Macros, DBus, Client, Filetype, Shared, Documentation

.github/labeler.yml:

App:
  - changed-files:
    - any-glob-to-any-file: 'crates/app/**'

Backend:
  - changed-files:
    - any-glob-to-any-file: 'crates/backend/**'

Render:
  - changed-files:
    - any-glob-to-any-file: 'crates/render/**'

Config:
  - changed-files:
    - any-glob-to-any-file: 'crates/config/**'

Macros:
  - changed-files:
    - any-glob-to-any-file: 'crates/macros/**'

DBus:
  - changed-files:
    - any-glob-to-any-file: 'crates/dbus/**'

Client:
  - changed-files:
    - any-glob-to-any-file: 'crates/client/**'

Filetype:
  - changed-files:
    - any-glob-to-any-file: 'crates/filetype/**'

Shared:
  - changed-files:
    - any-glob-to-any-file: 'crates/shared/**'

Documentation:
  - changed-files:
    - any-glob-to-any-file: 'docs/**'

feat: add `spacing` for `FlexBox`
  crates/widgets/src/widget/flexbox.rs
Labels: none

feat(backend): migrate to `WidgetSystem` usage
  crates/backend/src/lib.rs
  crates/backend/src/managers/window_manager.rs
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/config/src/display.rs
  crates/config/src/text.rs
  crates/macros/src/lib.rs
  crates/macros/src/widget_component.rs
  crates/widgets/src/context.rs
  crates/widgets/src/decorator/background.rs
  crates/widgets/src/decorator/border.rs
  crates/widgets/src/decorator/box_size.rs
  crates/widgets/src/decorator/callback.rs
  crates/widgets/src/decorator/content.rs
  crates/widgets/src/decorator/mod.rs
  crates/widgets/src/decorator/spacing.rs
  crates/widgets/src/events.rs
  crates/widgets/src/forest.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/stage/deinit.rs
  crates/widgets/src/stage/init.rs
  crates/widgets/src/stage/invalidate.rs
  crates/widgets/src/stage/layout.rs
  crates/widgets/src/stage/measure.rs
  crates/widgets/src/stage/rebuild.rs
  crates/widgets/src/state.rs
  crates/widgets/src/types/dirty_flags.rs
  crates/widgets/src/types/identifiers.rs
  crates/widgets/src/types/input_behavior.rs
  crates/widgets/src/types/mod.rs
  crates/widgets/src/types/style.rs
  crates/widgets/src/widget/animated_visibility.rs
  crates/widgets/src/widget/box.rs
  crates/widgets/src/widget/button.rs
  crates/widgets/src/widget/constraint_box.rs
  crates/widgets/src/widget/flexbox.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
Labels: Backend, Config, Macros

refactor: make banner interaction better and extend widget's functionality
  crates/backend/Cargo.toml
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/config/src/display.rs
  crates/config/src/general.rs
  crates/config/src/lib.rs
  crates/config/src/size.rs
  crates/config/src/spacing.rs
  crates/dbus/src/actions.rs
  crates/widgets/src/context.rs
  crates/widgets/src/forest.rs
  crates/widgets/src/stage/deinit.rs
  crates/widgets/src/stage/init.rs
  crates/widgets/src/stage/invalidate.rs
  crates/widgets/src/state.rs
  crates/widgets/src/types/dirty_flags.rs
  crates/widgets/src/widget/animated_visibility.rs
  crates/widgets/src/widget/box.rs
  crates/widgets/src/widget/button.rs
  crates/widgets/src/widget/constrained_box.rs
  crates/widgets/src/widget/flexbox.rs
  crates/widgets/src/widget/image.rs
  crates/widgets/src/widget/mod.rs
  crates/widgets/src/widget/text.rs
Labels: Backend, Config, DBus

feat: add more control over pointer shape
  crates/backend/src/managers/window_manager/window.rs
  crates/widgets/src/decorator/mod.rs
  crates/widgets/src/decorator/pointer_shape.rs
  crates/widgets/src/events.rs
  crates/widgets/src/lib.rs
  crates/widgets/src/widget/button.rs
Labels: Backend

chore: update Cargo.lock
  Cargo.lock
Labels: none

refactor: format code by cargo fmt
  crates/backend/src/managers/window_manager/window.rs
  crates/config/src/display.rs
  crates/config/src/lib.rs
  crates/config/src/size.rs
  crates/config/src/spacing.rs
  crates/shared/src/lib.rs
  crates/widgets/src/stage/mod.rs
  crates/widgets/src/types/input_behavior.rs
Labels: Backend, Config, Shared

fix(widgets): remove old relations to avoid memory leak
  crates/widgets/src/forest.rs
Labels: none

fix(backend): avoid unnecessary widget tree rebuilds
  crates/backend/src/managers/window_manager.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/widgets/src/stage/init.rs
Labels: Backend

feat: add audio emitting on a banner creation
  Cargo.lock
  assets/default-notification-sound.mp3
  crates/backend/Cargo.toml
  crates/backend/src/managers/idle_manager/idle_notifier.rs
  crates/backend/src/managers/window_manager.rs
  crates/backend/src/managers/window_manager/audio_playback.rs
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/config/src/display.rs
  crates/config/src/general.rs
  flake.nix
Labels: Backend, Config

chore(nix): update flake.lock file
  flake.lock
Labels: none

fix(nix): add alsa-lib to buildInputs
  flake.nix
Labels: none

fix(nix): add default-notification-sound.mp3 to build sources
  flake.nix
Labels: none
