Repository noti-rs/noti, changes with the labels that .github/labeler.yml gives for each.
All labels: App, Backend, Render, Config, Macros, DBus, Client, Filetype, Shared, Documentation

refactor(WIP): migrate to pangocairo
  Cargo.lock
  crates/backend/src/banner.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/dbus/src/text.rs
  crates/filetype/src/converter.rs
  crates/render/Cargo.toml
  crates/render/src/border.rs
  crates/render/src/color.rs
  crates/render/src/drawer.rs
  crates/render/src/font.rs
  crates/render/src/image.rs
  crates/render/src/lib.rs
  crates/render/src/text.rs
  crates/render/src/widget.rs
  crates/render/src/widget/flex_container.rs
  crates/render/src/widget/image.rs
  crates/render/src/widget/text.rs
Labels: Backend, Render, DBus, Filetype

feat: migrate to pangocairo, finish of migrating text rendering code
  crates/backend/src/banner.rs
  crates/backend/src/window.rs
  crates/config/src/text.rs
  crates/filetype/src/converter.rs
  crates/render/src/color.rs
  crates/render/src/drawer.rs
  crates/render/src/image.rs
  crates/render/src/types.rs
  crates/render/src/widget.rs
  crates/render/src/widget/flex_container.rs
  crates/render/src/widget/image.rs
  crates/render/src/widget/text.rs
Labels: Backend, Render, Config, Filetype

refactor(WIP): add proper error handling
  crates/backend/src/banner.rs
  crates/render/src/drawer.rs
  crates/render/src/image.rs
  crates/render/src/widget.rs
  crates/render/src/widget/flex_container.rs
  crates/render/src/widget/image.rs
  crates/render/src/widget/text.rs
Labels: Backend, Render

feat(WIP): handle errors from cairo
  crates/backend/src/backend_manager.rs
  crates/backend/src/banner.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/filetype/src/converter.rs
  crates/render/src/drawer.rs
  crates/render/src/image.rs
  crates/render/src/types.rs
  crates/render/src/widget.rs
  crates/render/src/widget/flex_container.rs
  crates/render/src/widget/image.rs
  crates/render/src/widget/text.rs
Labels: Backend, Render, Filetype

refactor: correct handle errors from backend
  crates/backend/src/backend_manager.rs
  crates/backend/src/banner.rs
  crates/backend/src/error.rs
  crates/backend/src/lib.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/render/src/image.rs
  crates/render/src/widget.rs
  crates/render/src/widget/flex_container.rs
  crates/render/src/widget/image.rs
  crates/render/src/widget/text.rs
Labels: Backend, Render

refactor: directly convert to anyhow::Error to avoid Sync + Send usage
  crates/filetype/src/converter.rs
  crates/render/src/widget/text.rs
  crates/shared/src/value.rs
Labels: Render, Filetype, Shared

refactor: reformat by cargo fmt
  crates/backend/src/backend_manager.rs
  crates/backend/src/window_manager.rs
  crates/filetype/src/converter.rs
  crates/render/src/image.rs
Labels: Backend, Render, Filetype

chore(github): add pangocairo library installation in workflows for build
  .github/workflows/rust-build.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/rust-test.yml
Labels: none

chore(github): fix library in workflow files
  .github/workflows/rust-build.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/rust-test.yml
Labels: none

fix: typo of 'justify' word and correct 'wrap' work
  crates/config/src/text.rs
  crates/render/src/widget/text.rs
Labels: Render, Config

feat: add `wrap_mode` property for wrapping mode selection
  crates/config/src/text.rs
  crates/render/src/widget/text.rs
Labels: Render, Config

chore(README): improve `Features` section with actual features list
  README.md
Labels: none

fix: clippy
  crates/client/src/lib.rs
  crates/dbus/src/client.rs
Labels: DBus, Client

fix: `cargo fmt`
  crates/config/src/text.rs
Labels: Config

fix: `cargo clippy`
  crates/client/src/lib.rs
  crates/config/src/color.rs
  crates/dbus/src/client.rs
  crates/dbus/src/text.rs
Labels: Config, DBus, Client

refactor!: migrate to pango and cairo (#98)
  .github/workflows/rust-build.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/rust-test.yml
  Cargo.lock
  crates/backend/src/backend_manager.rs
  crates/backend/src/banner.rs
  crates/backend/src/error.rs
  crates/backend/src/lib.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/client/src/lib.rs
  crates/config/src/color.rs
  crates/config/src/text.rs
  crates/dbus/src/client.rs
  crates/dbus/src/text.rs
  crates/filetype/src/converter.rs
  crates/render/Cargo.toml
  crates/render/src/border.rs
  crates/render/src/color.rs
  crates/render/src/drawer.rs
  crates/render/src/font.rs
  crates/render/src/image.rs
  crates/render/src/lib.rs
  crates/render/src/text.rs
  crates/render/src/types.rs
  crates/render/src/widget.rs
  crates/render/src/widget/flex_container.rs
  crates/render/src/widget/image.rs
  crates/render/src/widget/text.rs
  crates/shared/src/value.rs
Labels: Backend, Render, Config, DBus, Client, Filetype, Shared

chore(README): improve `Features` section with actual features list (#99)
  README.md
Labels: none

refactor: rename `title` to `summary` (#100)
  README.md
  crates/backend/src/banner.rs
  crates/config/src/display.rs
  crates/config/src/text.rs
  crates/filetype/src/lib.rs
  crates/filetype/src/parser.rs
  crates/macros/README.md
  crates/render/src/widget/text.rs
Labels: Backend, Render, Config, Macros, Filetype

refactor: rename `title` to `summary`
  README.md
  crates/backend/src/banner.rs
  crates/config/src/display.rs
  crates/config/src/text.rs
  crates/filetype/src/lib.rs
  crates/filetype/src/parser.rs
  crates/macros/README.md
  crates/render/src/widget/text.rs
Labels: Backend, Render, Config, Macros, Filetype

feat: optimize ram usage by using files and buffers
  Cargo.lock
  Cargo.toml
  crates/backend/Cargo.toml
  crates/backend/src/banner.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/dbus/Cargo.toml
  crates/dbus/src/image.rs
  crates/render/Cargo.toml
  crates/render/src/image.rs
  crates/shared/src/file_descriptor.rs
  crates/shared/src/lib.rs
Labels: Backend, Render, DBus, Shared

update: use linicon instead of freedesktop-icons because of caching
  Cargo.lock
  crates/render/Cargo.toml
  crates/render/src/widget/image.rs
Labels: Render

refactor(backend): use more properly wayland protocols
  Cargo.lock
  crates/backend/Cargo.toml
  crates/backend/src/backend_manager.rs
  crates/backend/src/idle_manager.rs
  crates/backend/src/idle_notifier.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
Labels: Backend

refactor: redesign the backend crate with more logic modules
  crates/backend/src/backend_manager.rs
  crates/backend/src/lib.rs
  crates/backend/src/managers/idle_manager.rs
  crates/backend/src/managers/idle_manager/idle_notifier.rs
  crates/backend/src/managers/mod.rs
  crates/backend/src/managers/window_manager.rs
  crates/backend/src/managers/window_manager/banner.rs
  crates/backend/src/managers/window_manager/cache.rs
  crates/backend/src/managers/window_manager/window.rs
Labels: Backend

update(backend): use more newer versions of wayland-rs libs
  crates/backend/Cargo.toml
Labels: Backend

update: use more newer versions of packages and update Cargo.lock file
  Cargo.lock
  Cargo.toml
  crates/backend/Cargo.toml
  crates/dbus/src/server.rs
  crates/render/Cargo.toml
Labels: Backend, Render, DBus

feat: use libc as global allocator by default for reducing runtime memory usage
  Cargo.lock
  Cargo.toml
  crates/app/main.rs
  crates/backend/Cargo.toml
  crates/backend/src/lib.rs
Labels: App, Backend

refactor: use sync code for main thread and async-io for async code
  Cargo.lock
  Cargo.toml
  crates/app/cli.rs
  crates/app/main.rs
  crates/backend/Cargo.toml
  crates/backend/src/lib.rs
  crates/backend/src/managers/window_manager.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/client/Cargo.toml
  crates/dbus/Cargo.toml
  crates/dbus/src/server.rs
Labels: App, Backend, DBus, Client

chore(README): make the installation section better with extended case
  README.md
Labels: none

fix: make changes as clippy suggests
  crates/macros/src/generic_builder.rs
  crates/render/src/image.rs
  crates/shared/src/file_watcher.rs
Labels: Render, Macros, Shared

update: use more newer versions of packages and update Cargo.lock file
  Cargo.lock
  Cargo.toml
  crates/backend/Cargo.toml
  crates/dbus/src/server.rs
  crates/render/Cargo.toml
Labels: Backend, Render, DBus

update(backend): use more newer versions of wayland-rs libs
  crates/backend/Cargo.toml
Labels: Backend

feat: optimize ram usage by using files and buffers
  Cargo.lock
  Cargo.toml
  crates/backend/Cargo.toml
  crates/backend/src/banner.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/dbus/Cargo.toml
  crates/dbus/src/image.rs
  crates/render/Cargo.toml
  crates/render/src/image.rs
  crates/shared/src/file_descriptor.rs
  crates/shared/src/lib.rs
Labels: Backend, Render, DBus, Shared

update: use linicon instead of freedesktop-icons because of caching
  Cargo.lock
  crates/render/Cargo.toml
  crates/render/src/widget/image.rs
Labels: Render

fix: make changes as clippy suggests
  crates/macros/src/generic_builder.rs
  crates/render/src/image.rs
  crates/shared/src/file_watcher.rs
Labels: Render, Macros, Shared

chore(README): make the installation section better with extended case
  README.md
Labels: none

refactor(backend): use more properly wayland protocols
  Cargo.lock
  crates/backend/Cargo.toml
  crates/backend/src/backend_manager.rs
  crates/backend/src/idle_manager.rs
  crates/backend/src/idle_notifier.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
Labels: Backend

refactor: use sync code for main thread and async-io for async code
  Cargo.lock
  Cargo.toml
  crates/app/cli.rs
  crates/app/main.rs
  crates/backend/Cargo.toml
  crates/backend/src/lib.rs
  crates/backend/src/managers/window_manager.rs
  crates/backend/src/managers/window_manager/window.rs
  crates/client/Cargo.toml
  crates/dbus/Cargo.toml
  crates/dbus/src/server.rs
Labels: App, Backend, DBus, Client

refactor: redesign the backend crate with more logic modules
  crates/backend/src/backend_manager.rs
  crates/backend/src/lib.rs
  crates/backend/src/managers/idle_manager.rs
  crates/backend/src/managers/idle_manager/idle_notifier.rs
  crates/backend/src/managers/mod.rs
  crates/backend/src/managers/window_manager.rs
  crates/backend/src/managers/window_manager/banner.rs
  crates/backend/src/managers/window_manager/cache.rs
  crates/backend/src/managers/window_manager/window.rs
Labels: Backend

feat: use libc as global allocator by default for reducing runtime memory usage
  Cargo.lock
  Cargo.toml
  crates/app/main.rs
  crates/backend/Cargo.toml
  crates/backend/src/lib.rs
Labels: App, Backend

refactor: make easy banner management and dual-buffering
  crates/backend/build.rs
  crates/backend/src/managers/window_manager.rs
  crates/backend/src/managers/window_manager/banner.rs
  crates/backend/src/managers/window_manager/banner_stack.rs
  crates/backend/src/managers/window_manager/buffer.rs
  crates/backend/src/managers/window_manager/window.rs
Labels: Backend

.github/labeler.yml:

App:
  - changed-files:
    - any-glob-to-any-file: 'crates/app/**'

Backend:
  - changed-files:
    - any-glob-to-any-file: 'crates/backend/**'

Render:
  - changed-files:
    - any-glob-to-any-file: 'crates/render/**'

Config:
  - changed-files:
    - any-glob-to-any-file: 'crates/config/**'

Macros:
  - changed-files:
    - any-glob-to-any-file: 'crates/macros/**'

DBus:
  - changed-files:
    - any-glob-to-any-file: 'crates/dbus/**'

Client:
  - changed-files:
    - any-glob-to-any-file: 'crates/client/**'

Filetype:
  - changed-files:
    - any-glob-to-any-file: 'crates/filetype/**'

Shared:
  - changed-files:
    - any-glob-to-any-file: 'crates/shared/**'

Documentation:
  - changed-files:
    - any-glob-to-any-file: 'docs/**'
