Repository noti-rs/noti, changes with the labels that .github/labeler.yml gives for each.
All labels: App, Backend, Render, Config, Macros, DBus, Client, Filetype, Shared, Documentation

feat: change cursor shape to `Pointer` on hover
  crates/backend/Cargo.toml
  crates/backend/src/window.rs
Labels: Backend

feat: change cursor shape to `Pointer` on hover (#84)
  crates/backend/Cargo.toml
  crates/backend/src/window.rs
Labels: Backend

fix: make idle_threshold watchable and not block loop when idled (#83)
  crates/backend/src/backend_manager.rs
  crates/backend/src/idle_manager.rs
  crates/backend/src/idle_notifier.rs
  crates/backend/src/internal_messages.rs
  crates/backend/src/lib.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
Labels: Backend

feat: add way to show app-icon if image data/path isn't providen
  Cargo.lock
  crates/config/src/display.rs
  crates/render/Cargo.toml
  crates/render/src/image.rs
  crates/render/src/widget/image.rs
Labels: Render, Config

fix: use u16 instead of u8 for large SVGs in app-icon
  crates/config/src/display.rs
Labels: Config

fix: apply clippy suggestion
  crates/render/src/widget/image.rs
Labels: Render

feat: add way to show app-icon if image data/path isn't providen (#85)
  Cargo.lock
  crates/config/src/display.rs
  crates/render/Cargo.toml
  crates/render/src/image.rs
  crates/render/src/widget/image.rs
Labels: Render, Config

fix: introduce paragraphs to handle line breaks in text
  crates/render/src/text.rs
Labels: Render

fix: use paragraph nums to differ lines for correct ellipsization
  crates/render/src/text.rs
Labels: Render

feat: add --print-id flag to print notification id into stdout
  crates/app/cli.rs
  crates/client/src/lib.rs
Labels: App, Client

fix: apply cargo fmt
  crates/app/cli.rs
  crates/client/src/lib.rs
Labels: App, Client

feat: add --print-id flag to print notification id into stdout (#87)
  crates/app/cli.rs
  crates/client/src/lib.rs
Labels: App, Client

fix: move statement for correct ellipsization
  crates/render/src/text.rs
Labels: Render

fix: replace notifications bypass general.limit
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
Labels: Backend

fix: introduce paragraphs to handle line breaks in text (#86)
  crates/render/src/text.rs
Labels: Render

fix: replace notifications bypass general.limit (#88)
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
Labels: Backend

refactor: clean Cargo.toml's files
  Cargo.lock
  Cargo.toml
  crates/backend/Cargo.toml
  crates/client/Cargo.toml
  crates/config/Cargo.toml
  crates/dbus/Cargo.toml
  crates/filetype/Cargo.toml
  crates/macros/Cargo.toml
  crates/render/Cargo.toml
  crates/shared/Cargo.toml
Labels: Backend, Render, Config, Macros, DBus, Client, Filetype, Shared

fix: handle case when idle_threshold == 0 during re-creation
  crates/backend/src/idle_notifier.rs
Labels: Backend

fix: handle case when idle_threshold == 0 during re-creation (#90)
  crates/backend/src/idle_notifier.rs
Labels: Backend

refactor: clean Cargo.toml's files (#89)
  Cargo.lock
  Cargo.toml
  crates/backend/Cargo.toml
  crates/client/Cargo.toml
  crates/config/Cargo.toml
  crates/dbus/Cargo.toml
  crates/filetype/Cargo.toml
  crates/macros/Cargo.toml
  crates/render/Cargo.toml
  crates/shared/Cargo.toml
Labels: Backend, Render, Config, Macros, DBus, Client, Filetype, Shared

feat: add way to derive GBuilder structs & add `Clone`s for all GBuilders
  crates/config/src/display.rs
  crates/config/src/spacing.rs
  crates/config/src/text.rs
  crates/macros/src/config_property.rs
  crates/macros/src/general.rs
  crates/macros/src/generic_builder.rs
  crates/render/src/widget/flex_container.rs
  crates/render/src/widget/image.rs
  crates/render/src/widget/text.rs
Labels: Render, Config, Macros

feat: add alias syntax for custom layouts
  crates/filetype/src/converter.rs
  crates/filetype/src/layout.pest
  crates/filetype/src/lib.rs
  crates/filetype/src/parser.rs
Labels: Filetype

fix: missing safe stop during conversion from paragraph into lines
  crates/render/src/text.rs
Labels: Render

feat: implement associated GenericBuilders
  crates/filetype/src/converter.rs
  crates/macros/src/general.rs
  crates/macros/src/generic_builder.rs
  crates/render/src/widget/image.rs
  crates/render/src/widget/text.rs
  crates/shared/src/error.rs
  crates/shared/src/value.rs
Labels: Render, Macros, Filetype, Shared

feat: implement generic `SQLite` DB with notification entity
  Cargo.lock
  crates/backend/Cargo.toml
  crates/backend/src/db/entity.rs
  crates/backend/src/db/mod.rs
  crates/backend/src/history_manager.rs
  crates/backend/src/lib.rs
  crates/dbus/Cargo.toml
  crates/dbus/src/client.rs
  crates/dbus/src/image.rs
  crates/dbus/src/notification.rs
  crates/dbus/src/text.rs
  crates/shared/build.rs
  crates/shared/src/lib.rs
  crates/shared/src/paths.rs
Labels: Backend, DBus, Shared

fix(macros): use correct expression when set_member is empty
  crates/macros/src/generic_builder.rs
Labels: Macros

feat: add aliases for custom layout of notification banner (#91)
  crates/config/src/display.rs
  crates/config/src/spacing.rs
  crates/config/src/text.rs
  crates/filetype/src/converter.rs
  crates/filetype/src/layout.pest
  crates/filetype/src/lib.rs
  crates/filetype/src/parser.rs
  crates/macros/src/config_property.rs
  crates/macros/src/general.rs
  crates/macros/src/generic_builder.rs
  crates/render/src/text.rs
  crates/render/src/widget/flex_container.rs
  crates/render/src/widget/image.rs
  crates/render/src/widget/text.rs
  crates/shared/src/error.rs
  crates/shared/src/value.rs
Labels: Render, Config, Macros, Filetype, Shared

feat: implement aliases for fields of gbuilder for custom layout
  crates/config/src/spacing.rs
  crates/macros/src/config_property.rs
  crates/macros/src/general.rs
  crates/macros/src/generic_builder.rs
  crates/macros/tests/generic_builder.rs
  crates/render/src/widget/flex_container.rs
  crates/shared/src/value.rs
Labels: Render, Config, Macros, Shared

feat: implement constructor call for some TypeValues in custom layout
  crates/config/src/spacing.rs
  crates/filetype/src/converter.rs
  crates/filetype/src/layout.pest
  crates/macros/src/generic_builder.rs
  crates/render/src/widget/flex_container.rs
  crates/shared/src/error.rs
Labels: Render, Config, Macros, Filetype, Shared

test(macros): add homogeneous struct to test constructor
  crates/macros/tests/generic_builder.rs
Labels: Macros

feat: extend gbuilder by aliases and constructor (#92)
  crates/config/src/spacing.rs
  crates/filetype/src/converter.rs
  crates/filetype/src/layout.pest
  crates/macros/src/config_property.rs
  crates/macros/src/general.rs
  crates/macros/src/generic_builder.rs
  crates/macros/tests/generic_builder.rs
  crates/render/src/widget/flex_container.rs
  crates/shared/src/error.rs
  crates/shared/src/value.rs
Labels: Render, Config, Macros, Filetype, Shared

feat: introduce `systemhub`
  Cargo.lock
  Cargo.toml
  crates/app/cli.rs
  crates/systemhub/.gitignore
  crates/systemhub/Cargo.toml
  crates/systemhub/src/lib.rs
  crates/systemhub/src/module.rs
  crates/systemhub/src/modules/mod.rs
  crates/systemhub/src/modules/network.rs
  crates/systemhub/src/modules/power.rs
Labels: App

fix: use libc allocator for fonts and add math font fallback
  Cargo.lock
  crates/render/Cargo.toml
  crates/render/src/font.rs
  crates/render/src/image.rs
Labels: Render

refactor(backend): merge backend and server modules into single thread
  crates/backend/src/backend_manager.rs
  crates/backend/src/internal_messages.rs
  crates/backend/src/lib.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
Labels: Backend

fix: use libc allocator for fonts and add math font fallback (#94)
  Cargo.lock
  crates/render/Cargo.toml
  crates/render/src/font.rs
  crates/render/src/image.rs
Labels: Render

refactor(backend): merge backend and server modules into single thread (#95)
  crates/backend/src/backend_manager.rs
  crates/backend/src/internal_messages.rs
  crates/backend/src/lib.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
Labels: Backend

refactor: rename window layer
  crates/backend/src/window.rs
Labels: Backend

refactor: rename window layer (#96)
  crates/backend/src/window.rs
Labels: Backend

chore(cargo): override release profile to focus on min size of binary
  Cargo.toml
Labels: none

chore(cargo): override release profile to focus on min size of binary (#97)
  Cargo.toml
Labels: none

.github/labeler.yml:

App:
  - changed-files:
    - any-glob-to-any-file: 'crates/app/**'

Backend:
  - changed-files:
    - any-glob-to-any-file: 'crates/backend/**'

Render:
  - changed-files:
    - any-glob-to-any-file: 'crates/render/**'

Config:
  - changed-files:
    - any-glob-to-any-file: 'crates/config/**'

Macros:
  - changed-files:
    - any-glob-to-any-file: 'crates/macros/**'

DBus:
  - changed-files:
    - any-glob-to-any-file: 'crates/dbus/**'

Client:
  - changed-files:
    - any-glob-to-any-file: 'crates/client/**'

Filetype:
  - changed-files:
    - any-glob-to-any-file: 'crates/filetype/**'

Shared:
  - changed-files:
    - any-glob-to-any-file: 'crates/shared/**'

Documentation:
  - changed-files:
    - any-glob-to-any-file: 'docs/**'
