Repository noti-rs/noti, changes with the labels that .github/labeler.yml gives for each.
All labels: App, Backend, Render, Config, Macros, DBus, Client, Filetype, Shared, Documentation

.github/labeler.yml:

App:
  - changed-files:
    - any-glob-to-any-file: 'crates/app/**'

Backend:
  - changed-files:
    - any-glob-to-any-file: 'crates/backend/**'

Render:
  - changed-files:
    - any-glob-to-any-file: 'crates/render/**'

Config:
  - changed-files:
    - any-glob-to-any-file: 'crates/config/**'

Macros:
  - changed-files:
    - any-glob-to-any-file: 'crates/macros/**'

DBus:
  - changed-files:
    - any-glob-to-any-file: 'crates/dbus/**'

Client:
  - changed-files:
    - any-glob-to-any-file: 'crates/client/**'

Filetype:
  - changed-files:
    - any-glob-to-any-file: 'crates/filetype/**'

Shared:
  - changed-files:
    - any-glob-to-any-file: 'crates/shared/**'

Documentation:
  - changed-files:
    - any-glob-to-any-file: 'docs/**'

refactor: clean up scheduling-related code
  crates/app/cli.rs
  crates/backend/src/lib.rs
  crates/backend/src/scheduler.rs
  crates/client/src/lib.rs
  crates/dbus/src/server.rs
Labels: App, Backend, DBus, Client

docs: typo
  README.md
Labels: none

docs: typo
  README.md
Labels: none

refactor: replace `filter_map` with `find_map` & add missing datetime formats
  crates/backend/src/scheduler.rs
Labels: Backend

feat: notification scheduler (#56)
  Cargo.lock
  crates/app/cli.rs
  crates/backend/Cargo.toml
  crates/backend/src/lib.rs
  crates/backend/src/scheduler.rs
  crates/client/src/lib.rs
  crates/dbus/src/actions.rs
  crates/dbus/src/notification.rs
  crates/dbus/src/server.rs
Labels: App, Backend, DBus, Client

docs: document the layout declaration
  docs/Filetype.md
Labels: Documentation

docs: minor fixes in Filetypes.md
  docs/Filetype.md
Labels: Documentation

fak
  docs/Filetype.md
Labels: Documentation

chore: add sample and links to Filetype.md in other markdown files
  README.md
  docs/ConfigProperties.md
Labels: Documentation

fak
  docs/Filetype.md
Labels: Documentation

chore: add border definition in custom layout in README.md
  README.md
Labels: none

docs: add type `Path` for clarity
  docs/ConfigProperties.md
Labels: Documentation

docs: document the filetype feature (#57)
  README.md
  docs/ConfigProperties.md
  docs/Filetype.md
Labels: Documentation

fix: use graphemes instead of chars for correct parsing
  Cargo.lock
  crates/dbus/Cargo.toml
  crates/dbus/src/text.rs
Labels: DBus

refactor: rewrite parser into cursor-based
  crates/dbus/src/text.rs
Labels: DBus

chore: remove regex and wipe out useless commentaries
  Cargo.lock
  crates/dbus/Cargo.toml
  crates/dbus/src/text.rs
Labels: DBus

refactor: move from struct member to local variable
  crates/dbus/src/text.rs
Labels: DBus

feat: extend the timeout property to set per urgency
  crates/backend/src/window.rs
  crates/config/src/display.rs
Labels: Backend, Config

docs: describe the extended timeout config property
  docs/ConfigProperties.md
Labels: Documentation

refactor: use copied() method insedad of dereferencind
  crates/config/src/display.rs
Labels: Config

feat: extend the timeout property to set per urgency (#62)
  crates/backend/src/window.rs
  crates/config/src/display.rs
  docs/ConfigProperties.md
Labels: Backend, Config, Documentation

fix: parse html entity and then decode them for correct parsing
  crates/dbus/src/text.rs
Labels: DBus

fix: text parsing in dbus (#61)
  Cargo.lock
  crates/dbus/Cargo.toml
  crates/dbus/src/text.rs
Labels: DBus

feat: reload font by updating config and use `Rc` instead of `Arc`s
  crates/backend/src/lib.rs
  crates/backend/src/render.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/render/src/font.rs
Labels: Backend, Render

feat: reload font by updating config and use `Rc` instead of `Arc`s (#63)
  crates/backend/src/lib.rs
  crates/backend/src/render.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/render/src/font.rs
Labels: Backend, Render

fix: correct timeout value parsing
  crates/config/src/display.rs
Labels: Config

fix: apply cargo fmt
  crates/config/src/display.rs
Labels: Config

fix: correct timeout value parsing (#64)
  crates/config/src/display.rs
Labels: Config

feat(WIP): notification queue
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/config/src/general.rs
  crates/dbus/src/notification.rs
Labels: Backend, Config, DBus

fix: add missing calls to correct notification queue work
  crates/backend/src/window_manager.rs
Labels: Backend

fix: remove redundant calls for correct drawing
  crates/backend/src/window_manager.rs
Labels: Backend

refactor: add early returns
  crates/backend/src/window_manager.rs
  crates/config/src/general.rs
Labels: Backend, Config

refactor: remove redundant PartialEq for Notification
  crates/dbus/src/notification.rs
Labels: DBus

fix: remove `not` statement
  crates/backend/src/window_manager.rs
Labels: Backend

feat: notification queue (#65)
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/config/src/general.rs
Labels: Backend, Config

fix: do not check the emptiness of queue to render window
  crates/backend/src/window_manager.rs
Labels: Backend

fix: do not check the emptiness of queue to render window (#66)
  crates/backend/src/window_manager.rs
Labels: Backend

refactor: make the `AttributeInfo` as generic structure for DRY
  crates/macros/src/config_property.rs
  crates/macros/src/general.rs
  crates/macros/src/generic_builder.rs
  crates/macros/src/lib.rs
  crates/macros/tests/test_generic_builder.rs
Labels: Macros

chore: add logo icons
  assets/logo512.png
  assets/logo512.svg
Labels: none

refactor: rewrite ConfigProperty and clean GenericBuilder macros
  crates/macros/src/config_property.rs
  crates/macros/src/general.rs
  crates/macros/src/generic_builder.rs
Labels: Macros
