Repository noti-rs/noti, pull requests merged in 2024-12, with the labels that each got.

#55 feat: implemen special filetype `.noti` for this application
  Cargo.lock
  Cargo.toml
  crates/backend/Cargo.toml
  crates/backend/src/banner.rs
  crates/backend/src/cache.rs
  crates/backend/src/lib.rs
  crates/backend/src/render.rs
  crates/backend/src/render/banner.rs
  crates/backend/src/render/widget.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/client/Cargo.toml
  crates/config/Cargo.toml
  crates/config/src/colors.rs
  crates/config/src/lib.rs
  crates/config/src/spacing.rs
  crates/config/src/text.rs
  crates/config/src/watcher.rs
  crates/dbus/Cargo.toml
  crates/filetype/.gitignore
  crates/filetype/Cargo.toml
  crates/filetype/README.md
  crates/filetype/src/converter.rs
  crates/filetype/src/layout.pest
  crates/filetype/src/lib.rs
  crates/filetype/src/parser.rs
  crates/macros/Cargo.toml
  crates/macros/README.md
  crates/macros/src/config_property.rs
  crates/macros/src/general.rs
  crates/macros/src/generic_builder.rs
  crates/macros/src/lib.rs
  crates/macros/tests/test_generic_builder.rs
  crates/render/Cargo.toml
  crates/render/README.md
  crates/render/src/border.rs
  crates/render/src/color.rs
  crates/render/src/drawer.rs
  crates/render/src/font.rs
  crates/render/src/image.rs
  crates/render/src/lib.rs
  crates/render/src/text.rs
  crates/render/src/types.rs
  crates/render/src/widget.rs
  crates/shared/Cargo.toml
  crates/shared/src/error.rs
  crates/shared/src/file_watcher.rs
  crates/shared/src/lib.rs
  crates/shared/src/value.rs
Labels: Backend, Config, DBus, Client

#58 feat: add `import` of config files and introduce color theme
  README.md
  crates/backend/src/banner.rs
  crates/backend/src/cache.rs
  crates/backend/src/render.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/config/src/color.rs
  crates/config/src/display.rs
  crates/config/src/general.rs
  crates/config/src/lib.rs
  crates/config/src/text.rs
  crates/config/src/theme.rs
  crates/filetype/src/converter.rs
  crates/render/src/color.rs
  crates/render/src/image.rs
  crates/render/src/widget.rs
  crates/shared/src/cached_data.rs
  crates/shared/src/file_watcher.rs
  crates/shared/src/lib.rs
  docs/ConfigProperties.md
Labels: Documentation, Backend, Config

#56 feat: notification scheduler
  Cargo.lock
  crates/app/cli.rs
  crates/backend/Cargo.toml
  crates/backend/src/lib.rs
  crates/backend/src/scheduler.rs
  crates/client/src/lib.rs
  crates/dbus/src/actions.rs
  crates/dbus/src/notification.rs
  crates/dbus/src/server.rs
Labels: App, Backend, DBus, Client

#57 docs: document the filetype feature
  README.md
  docs/ConfigProperties.md
  docs/Filetype.md
Labels: Documentation

#62 feat: extend the timeout property to set per urgency
  crates/backend/src/window.rs
  crates/config/src/display.rs
  docs/ConfigProperties.md
Labels: Documentation, Backend, Config

#61 fix: text parsing in dbus
  Cargo.lock
  crates/dbus/Cargo.toml
  crates/dbus/src/text.rs
Labels: DBus

#63 feat: reload font by updating config and use `Rc` instead of `Arc`s
  crates/backend/src/lib.rs
  crates/backend/src/render.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/render/src/font.rs
Labels: Backend, Render

#64 fix: correct timeout value parsing
  crates/config/src/display.rs
Labels: Config

#65 feat: notification queue
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/config/src/general.rs
Labels: Backend, Config, DBus

#66 fix: do not check the emptiness of queue to render window
  crates/backend/src/window_manager.rs
Labels: Backend

#68 refactor: rewrite ConfigProperty macro and clean config crate code
  crates/config/src/display.rs
  crates/config/src/general.rs
  crates/config/src/text.rs
  crates/config/src/theme.rs
  crates/macros/README.md
  crates/macros/src/config_property.rs
  crates/macros/src/general.rs
  crates/macros/src/generic_builder.rs
  crates/macros/src/lib.rs
  crates/macros/tests/config_property.rs
  crates/macros/tests/generic_builder.rs
Labels: Config, Macros

#69 refactor: simplify TryFrom<Value> usage by TryFromValue trait
  crates/config/src/color.rs
  crates/config/src/display.rs
  crates/config/src/spacing.rs
  crates/config/src/text.rs
  crates/macros/src/generic_builder.rs
  crates/macros/tests/generic_builder.rs
  crates/render/src/widget.rs
  crates/shared/src/value.rs
Labels: Config, Macros, Render, Shared

#70 feat: introduce relative paths and globbing
  Cargo.lock
  crates/config/Cargo.toml
  crates/config/src/display.rs
  crates/config/src/lib.rs
  docs/ConfigProperties.md
Labels: Documentation, Config

#71 fix: ensure that uses temporary fields in app display configs
  crates/config/src/lib.rs
  crates/macros/src/config_property.rs
Labels: Config, Macros

#72 feat: idle handling
  Cargo.lock
  crates/backend/Cargo.toml
  crates/backend/src/banner.rs
  crates/backend/src/dispatcher.rs
  crates/backend/src/idle_manager.rs
  crates/backend/src/idle_notifier.rs
  crates/backend/src/lib.rs
  crates/backend/src/render.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
  crates/config/Cargo.toml
  crates/config/src/general.rs
  docs/ConfigProperties.md
Labels: Documentation, Backend, Config

#73 chore: move docs to `book` (noti-rs/notibook)
  README.md
  docs/Autostart.md
  docs/ConfigProperties.md
  docs/Filetype.md
Labels: Documentation

#84 feat: change cursor shape to `Pointer` on hover
  crates/backend/Cargo.toml
  crates/backend/src/window.rs
Labels: Backend

#83 fix: make idle_threshold watchable and not block loop when idled
  crates/backend/src/backend_manager.rs
  crates/backend/src/idle_manager.rs
  crates/backend/src/idle_notifier.rs
  crates/backend/src/internal_messages.rs
  crates/backend/src/lib.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
Labels: Backend

#85 feat: add way to show app-icon if image data/path isn't providen
  Cargo.lock
  crates/config/src/display.rs
  crates/render/Cargo.toml
  crates/render/src/image.rs
  crates/render/src/widget/image.rs
Labels: Config, Render

#87 feat: add --print-id flag to print notification id into stdout
  crates/app/cli.rs
  crates/client/src/lib.rs
Labels: App, Client

#86 fix: introduce paragraphs to handle line breaks in text
  crates/render/src/text.rs
Labels: Render

#88 fix: replace notifications bypass general.limit
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
Labels: Backend

#90 fix: handle case when idle_threshold == 0 during re-creation
  crates/backend/src/idle_notifier.rs
Labels: Backend

#89 refactor: clean Cargo.toml's files
  Cargo.lock
  Cargo.toml
  crates/backend/Cargo.toml
  crates/client/Cargo.toml
  crates/config/Cargo.toml
  crates/dbus/Cargo.toml
  crates/filetype/Cargo.toml
  crates/macros/Cargo.toml
  crates/render/Cargo.toml
  crates/shared/Cargo.toml
Labels: Backend, Config, Macros, DBus, Client, Render, Filetype, Shared

#92 feat: extend gbuilder by aliases and constructor
  crates/config/src/spacing.rs
  crates/filetype/src/converter.rs
  crates/filetype/src/layout.pest
  crates/macros/src/config_property.rs
  crates/macros/src/general.rs
  crates/macros/src/generic_builder.rs
  crates/macros/tests/generic_builder.rs
  crates/render/src/widget/flex_container.rs
  crates/shared/src/error.rs
  crates/shared/src/value.rs
Labels: Config, Macros, Render, Filetype, Shared

#94 fix: use libc allocator for fonts and add math font fallback
  Cargo.lock
  crates/render/Cargo.toml
  crates/render/src/font.rs
  crates/render/src/image.rs
Labels: Render

#95 refactor(backend): merge backend and server modules into single thread
  crates/backend/src/backend_manager.rs
  crates/backend/src/internal_messages.rs
  crates/backend/src/lib.rs
  crates/backend/src/window.rs
  crates/backend/src/window_manager.rs
Labels: Backend

#96 refactor: rename window layer
  crates/backend/src/window.rs
Labels: Backend
