Repository noti-rs/noti, pull requests merged in 2024-08, with the labels that each got.

#44 feat(cli): `noti send`
  Cargo.lock
  Cargo.toml
  crates/app/cli.rs
  crates/client/Cargo.toml
  crates/client/src/lib.rs
  crates/dbus/src/client.rs
  crates/dbus/src/notification.rs
Labels: App, Backend, Config, DBus, Client

#46 fix: missing ellipsization and incorrect styling
  crates/backend/src/render/text.rs
Labels: Backend

#47 hotfix: change to valid type for parsing urgency value
  crates/client/src/lib.rs
  crates/dbus/src/notification.rs
Labels: DBus, Client

#48 feat: use user defined path to config file
  Cargo.lock
  crates/app/cli.rs
  crates/backend/src/lib.rs
  crates/backend/src/render.rs
  crates/config/Cargo.toml
  crates/config/src/lib.rs
  crates/config/src/watcher.rs
Labels: App, Backend, Config

#49 refactor: migrate to `indexmap` for banners
  Cargo.lock
  crates/backend/Cargo.toml
  crates/backend/src/window.rs
Labels: Backend
